{% extends "about/layout.html" %}
{% load static %}
{% block body %}
<div class="w3-content w3-justify w3-text-grey w3-padding-64">
    <div class="w3-padding-64 w3-content">
        <h2 class="w3-text-light-grey">write()</h2>
        <hr style="width:200px" class="w3-opacity">
    
        <div class="w3-section">
            <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Singapore</p>
            <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: wsh.tangky@gmail.com</p>
          </div><br>

    </div>
</div>
{% endblock %}